.price-table-area{
	.price-list{
		display: block;
		margin: 0 0 30px;
		width: 100%;
		.price{
			display: block;
			width: 260px;
			height: 260px;
			line-height: 130px;
			background:#212121;
			margin: 0 auto;
			text-align: center;
			border-radius: 100%;
			margin-bottom: -130px;
			position: relative;
			z-index: 99;
			transition: $transition;
			&:after{
				content:'';
				position: absolute;
				left: 50%;
				right: 50%;
				top: 50%;
				bottom: 50%;
				background: $primary-color;
				border-radius: 100%;
				transition: $transition;
			}
			strong{
				color: #fff;
				font-size: 40px;
				font-weight: 900;
				position: relative;
				z-index: 999;
				em{
					margin: 0;
					font-weight: 300;
					display: inline-block;
					font-style: normal;
				}
			}
			span{
				font-size: 16px;
				font-weight: 300;
				color: #fff;
				position: relative;
				z-index: 999;
			}
		}
		.price-plan{
			position: relative;
			z-index: 999;
			background: #fff;
			text-align: center;
			display: block;
			padding: 60px 0;
			box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
			.ico{
				height: 52px;
				display: block;
				img{

				}
			}
			.titl{
				display: block;
				text-align: center;
				margin: 30px 0 26px;
				.tit{
					font-family: $second-font;
					color: $primary-color;
					font-size: 28px;
					margin: 0 0 10px;
					display: block;
				}
				h3{
					font-family: $title-font;
					font-weight: 800;
					font-size: 22px;
					color: #212121;
					text-transform: uppercase;
					margin: 0;
					display: inline-block;
					position: relative;
					padding: 0 0 50px;
					&:after{
						content:'';
						position: absolute;
						left: 0;
						right: 0;
						width: 1px;
						background: $primary-color;
						bottom: 0;
						height: 30px;
						margin: auto;
					}
				}
			}
				
			ul{
				display: block;
				margin: 0 0 25px;
				li{
					display: block;
					margin: 0;
					padding: 0 10px;
				}
			}
			a{

			}
		}
		&:hover{
			.price{
				background: #fff;
				&:after{
					top:0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}